@import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto:ital,wght@0,500;0,700;0,900;1,500;1,700;1,900&display=swap');

:root {
  --primary-color: #5e81e9;
  --secondary-color: #bac2da;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  outline: none;
}

body,
html {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Lato', sans-serif;
  box-sizing: border-box;
  background-color: black;
}

.bkgd {
  background-image: url('../imgs/Rumamba_Mock_Up_Web.jpg');
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

header {
  font-family: 'Roboto', sans-serif;
  padding: 10px;
  color: white;
  font-weight: 700;
  font-size: 3.4rem;
  text-align: center;
  width: 100%;
  position: relative;
  top: 20%;
  margin: auto;
  transition: 0.5s;
  z-index: 100;
}

header .title span {
  font-style: italic;
  font-weight: 900;
  transition: 0.3s;
}

header .description {
  font-size: 1.2rem;
}

.move-header {
  position: fixed;
  top: 0;
  font-size: 1.7rem;
  background-color: var(--primary-color);
  transition: 0.7s;
}

.description p {
  padding: 20px;
  font-size: 3rem;
}

.description p span {
  color: var(--primary-color);
  font-weight: 700;
}

article {
  display: flex;
  margin: 0;
  padding: 0;
}

article .image {
  flex: 60%;
}

article .image img {
  max-height: 100%;
}

article .description {
  flex: 50%;
}

article .description p {
  font-size: 3rem;
}

article .description p span {
  color: var(--primary-color);
}

article .description:nth-child(odd) {
  background-color: var(--secondary-color);
}

article .description:nth-child(even) {
  background-color: var(--secondary-color);
}

.slide-in {
  opacity: 0;
  transition: all 1s;
}

.align-down.slide-in {
  transform: translateY(30%) scale(0.95);
}

.slide-in.active {
  opacity: 1;
  transform: translateY(0%) scale(1);
}

.readMore {
  padding: 0 2rem 1rem 1.5rem;
}

.readMore .readBtn {
  padding: 1rem 1rem 1rem 0;
  font-size: 1.5rem;
  font-weight: bold;
  display: inline-block;
  transition: 0.3s;
}

.readMore .readBtn:hover {
  cursor: pointer;
  color: var(--primary-color);
  transition: 0.6s;
}

.readMore .readContent {
  margin: 1.5rem;
  text-align: justify;
  -webkit-transition: height 0.25s ease;
  -o-transition: height 0.25s ease;
  transition: height 0.25s ease;
}

.readMore .readContent:not(.active) {
  display: none;
}

.readMore .readContent p {
  font-size: 1rem;
  padding: 0;
}

footer {
  height: 300px;
  background-color: var(--primary-color);
  display: flex;
  justify-content: center;
}

.footer {
  text-align: center;
  align-self: center;
  word-spacing: 0.3rem;
}

.footer a,
.footer a:active {
  text-decoration: none;
  color: black;
}

.footer a:hover {
  cursor: pointer;
  color: var(--secondary-color);
  transition: 0.6s;
}

.footer .social i {
  font-size: 2rem;
  padding: 1rem 0;
}

.footer .social i:hover {
  cursor: pointer;
  color: var(--secondary-color);
  transition: 0.6s;
}

@media screen and (max-width: 1190px) {
  article {
    flex-direction: column;
  }

  article:nth-child(odd) {
    flex-direction: column-reverse;
  }

  article .image img {
    width: 100%;
  }
}
